.vscode
._*
*.DS_STORE
*.pdf
*.csv
*.pptx
*.png
*.txt
*.pkl
*.pyc
*.o
*.code-workspace
*.tar.bz2

# ns-3-src
*.orig
*.rej
*.o
*.pyc
*.pyo
*.cwnd
*.dat
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

ns-3.34/build/

version.cache